## SQL Assignment 7

### Importing the libraries

In [1]:
import mysql.connector
import logging
import csv
logging.basicConfig(level=logging.INFO, format=" %(asctime)s : %(levelname)s : %(message)s")

### Create a MySQL Connection

In [9]:
def create_connection (host_name, user_name, password, db_name, use_pure):
    
    connection = None
    
    try:
        connection = mysql.connector.connect (
            host = host_name,
            user = user_name,
            password = password,
            database = db_name,
            use_pure = use_pure
        )
        logging.info("Connection to MySQL DB successful")
        
    except Exception as e:
        logging.error(f"The error {e} has occurred !!")
        
    return connection
        
connection = create_connection(host_name = "localhost", user_name = "root", password = "pass1234", db_name = "org", use_pure = True)

 2021-05-30 23:27:13,128 : INFO : Connection to MySQL DB successful

### Making a function for executing a query

In [10]:
def execute_query(connection, query):
    
    cursor = connection.cursor()
    
    try:
        cursor.execute(query)
        connection.commit()
        logging.info("The query has been executed successfully !!!")
        
    except Exception as e:
        logging.error(f"The error {e} has occurred !!")

### Making a function for fetching the results from a query

In [4]:
def fetch_query(connection, query):
    
    cursor = connection.cursor()
    result = None
    
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    
    except Exception as e:
        logging.error(f"The error {e} has occurred !!")

Q-13. Write an SQL query to show only odd rows from a table.

In [5]:
query_1 = ''' SELECT * FROM Worker WHERE MOD (WORKER_ID, 2) <> 0; '''
query_1_result = fetch_query(connection, query_1)

In [6]:
query_1_result

[(1,
  'Monika',
  'Arora',
  100000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'HR',
  'monika.arora@gmail.com'),
 (3,
  'Vishal',
  'Singhal',
  300000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'HR',
  'vishal.singhal@gmail.com'),
 (5,
  'Vivek',
  'Bhati',
  500000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Admin',
  'vivek.bhati@gmail.com'),
 (7,
  'Satish',
  'Kumar',
  75000,
  datetime.datetime(2014, 1, 20, 9, 0),
  'Account',
  'satish.kumar@gmail.com')]

Q-2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets.

In [16]:
query_2 = ''' CREATE TABLE WorkerClone LIKE Worker; '''
query_2_result = execute_query(connection, query_2)

 2021-05-30 23:31:29,203 : INFO : The query has been executed successfully !!!