## SQL Assignment 5

### Importing the libraries

In [1]:
import mysql.connector
import logging
import csv
logging.basicConfig(level=logging.INFO, format=" %(asctime)s : %(levelname)s : %(message)s")

### Create a MySQL Connection

In [2]:
def create_connection (host_name, user_name, password, db_name, use_pure):
    
    connection = None
    
    try:
        connection = mysql.connector.connect (
            host = host_name,
            user = user_name,
            password = password,
            database = db_name,
            use_pure = use_pure
        )
        logging.info("Connection to MySQL DB successful")
        
    except Exception as e:
        logging.error(f"The error {e} has occurred !!")
        
    return connection
        
connection = create_connection(host_name = "localhost", user_name = "root", password = "pass1234", db_name = "org", use_pure = True)

 2021-05-30 20:28:00,703 : INFO : Connection to MySQL DB successful

### Making a function for executing a query

In [3]:
def execute_query(connection, query):
    
    cursor = connection.cursor()
    
    try:
        cursor.execute(query)
        connection.commit()
        logging.info("The query has been executed successfully !!!")
        
    except Exception as e:
        logging.error(f"The error {e} has occurred !!")

### Making a function for fetching the results from a query

In [4]:
def fetch_query(connection, query):
    
    cursor = connection.cursor()
    result = None
    
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    
    except Exception as e:
        logging.error(f"The error {e} has occurred !!")

Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from Worker table.

In [5]:
query_1 = ''' SELECT *  from worker where first_name not in ('Vipul','Satish'); '''
query_1_result = fetch_query(connection, query_1)

In [6]:
query_1_result

[(1,
  'Monika',
  'Arora',
  100000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'HR',
  'monika.arora@gmail.com'),
 (2,
  'Niharika',
  'Verma',
  80000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Admin',
  'niharika.verma@gmail.com'),
 (3,
  'Vishal',
  'Singhal',
  300000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'HR',
  'vishal.singhal@gmail.com'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'Admin',
  'amitabh.singh@gmail.com'),
 (5,
  'Vivek',
  'Bhati',
  500000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Admin',
  'vivek.bhati@gmail.com'),
 (8,
  'Geetika',
  'Chauhan',
  90000,
  datetime.datetime(2014, 4, 11, 9, 0),
  'Admin',
  'geetika.chauhan@gmail.com')]

Q-2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets.

In [7]:
query_2 = ''' Select * from Worker where FIRST_NAME like '_____h'; '''
query_2_result = fetch_query(connection, query_2)

In [8]:
query_2_result

[(7,
  'Satish',
  'Kumar',
  75000,
  datetime.datetime(2014, 1, 20, 9, 0),
  'Account',
  'satish.kumar@gmail.com')]

Q-3. Write a query to validate Email of Employee.

In [9]:
query_3 = ''' SELECT * FROM worker WHERE
    `email` REGEXP '^[a-zA-Z0-9][a-zA-Z0-9._-]*[a-zA-Z0-9._-]@[a-zA-Z0-9][a-zA-Z0-9._-]*[a-zA-Z0-9]\\.[a-zA-Z]{2,63}$'; '''

In [10]:
query_3_result = fetch_query(connection, query_3)
query_3_result

[(1,
  'Monika',
  'Arora',
  100000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'HR',
  'monika.arora@gmail.com'),
 (2,
  'Niharika',
  'Verma',
  80000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Admin',
  'niharika.verma@gmail.com'),
 (3,
  'Vishal',
  'Singhal',
  300000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'HR',
  'vishal.singhal@gmail.com'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'Admin',
  'amitabh.singh@gmail.com'),
 (5,
  'Vivek',
  'Bhati',
  500000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Admin',
  'vivek.bhati@gmail.com'),
 (6,
  'Vipul',
  'Diwan',
  200000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Account',
  'vipul.diwan@gmail.com'),
 (7,
  'Satish',
  'Kumar',
  75000,
  datetime.datetime(2014, 1, 20, 9, 0),
  'Account',
  'satish.kumar@gmail.com'),
 (8,
  'Geetika',
  'Chauhan',
  90000,
  datetime.datetime(2014, 4, 11, 9, 0),
  'Admin',
  'geetika.chauhan@gmail.com')]