## SQL Assignment 10

### Importing the libraries

In [1]:
import mysql.connector
import logging
import csv
logging.basicConfig(level=logging.INFO, format=" %(asctime)s : %(levelname)s : %(message)s")

### Create a MySQL Connection

In [2]:
def create_connection (host_name, user_name, password, db_name, use_pure):
    
    connection = None
    
    try:
        connection = mysql.connector.connect (
            host = host_name,
            user = user_name,
            password = password,
            database = db_name,
            use_pure = use_pure
        )
        logging.info("Connection to MySQL DB successful")
        
    except Exception as e:
        logging.error(f"The error {e} has occurred !!")
        
    return connection
        
connection = create_connection(host_name = "localhost", user_name = "root", password = "pass1234", db_name = "org", use_pure = True)

 2021-05-31 00:09:33,876 : INFO : Connection to MySQL DB successful

### Making a function for executing a query

In [3]:
def execute_query(connection, query):
    
    cursor = connection.cursor()
    
    try:
        cursor.execute(query)
        connection.commit()
        logging.info("The query has been executed successfully !!!")
        
    except Exception as e:
        logging.error(f"The error {e} has occurred !!")

### Making a function for fetching the results from a query

In [4]:
def fetch_query(connection, query):
    
    cursor = connection.cursor()
    result = None
    
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    
    except Exception as e:
        logging.error(f"The error {e} has occurred !!")

Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

In [5]:
query_1 = ''' SELECT salary FROM worker as w1 WHERE 5-1 = (SELECT COUNT(DISTINCT salary) FROM WORKER as w2
              WHERE w2.salary > w1.salary); '''
query_1_result = fetch_query(connection, query_1)

In [6]:
query_1_result

[(90000,)]

Q-20. Write an SQL query to fetch the list of employees with the same salary.

In [7]:
query_2 = ''' Select distinct W1.WORKER_ID, W1.FIRST_NAME, W1.Salary  from Worker W1, Worker W2 where W1.Salary = W2.Salary 
              and W1.WORKER_ID != W2.WORKER_ID; '''
query_2_result = fetch_query(connection, query_2)

In [8]:
query_2_result

[(5, 'Vivek', 500000), (4, 'Amitabh', 500000)]