## SQL Assignment 3

### Importing the libraries

In [1]:
import mysql.connector
import logging
import csv
logging.basicConfig(level=logging.INFO, format=" %(asctime)s : %(levelname)s : %(message)s")

### Create a MySQL Connection

In [2]:
def create_connection (host_name, user_name, password, db_name, use_pure):
    
    connection = None
    
    try:
        connection = mysql.connector.connect (
            host = host_name,
            user = user_name,
            password = password,
            database = db_name,
            use_pure = use_pure
        )
        logging.info("Connection to MySQL DB successful")
        
    except Exception as e:
        logging.error(f"The error {e} has occurred !!")
        
    return connection
        
connection = create_connection(host_name = "localhost", user_name = "root", password = "pass1234", db_name = "org", use_pure = True)

 2021-05-29 23:00:33,008 : INFO : Connection to MySQL DB successful

### Making a function for executing a query

In [3]:
def execute_query(connection, query):
    
    cursor = connection.cursor()
    
    try:
        cursor.execute(query)
        connection.commit()
        logging.info("The query has been executed successfully !!!")
        
    except Exception as e:
        logging.error(f"The error {e} has occurred !!")

### Making a function for fetching the results from a query

In [4]:
def fetch_query(connection, query):
    
    cursor = connection.cursor()
    result = None
    
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    
    except Exception as e:
        logging.error(f"The error {e} has occurred !!")

Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

In [5]:
query_1 = ''' SELECT RTRIM(first_name) as first_name FROM worker; '''
query_1_result = fetch_query(connection, query_1)

In [6]:
query_1_result

[('Monika',),
 ('Niharika',),
 ('Vishal',),
 ('Amitabh',),
 ('Vivek',),
 ('Vipul',),
 ('Satish',),
 ('Geetika',)]

Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

In [7]:
query_2 = ''' SELECT DISTINCT department, LENGTH(department) as dept_length FROM worker GROUP BY department; '''
query_2_result = fetch_query(connection, query_2)

In [8]:
query_2_result

[('HR', 2), ('Admin', 5), ('Account', 7)]

Q-3. Write an SQL query to fetch nth max salaries from a table

In [12]:
''' SELECT salary FROM worker as w1 WHERE N-1 = (SELECT COUNT(DISTINCT salary) FROM WORKER as w2
WHERE w2.salary > w1.salary); '''

In the above query, we can place any value of N to find that max salary from the table, for e.g: N=2 for second highest salary from the table, N=3 for third highest salary from the table and so on.

In [14]:
# to find the 2nd Highest salary from the worker table
query_3 = ''' SELECT salary FROM worker as w1 WHERE 2-1 = (SELECT COUNT(DISTINCT salary) FROM WORKER as w2
WHERE w2.salary > w1.salary); '''

In [15]:
query_3_result = fetch_query(connection, query_3)
query_3_result

[(300000,)]

In [16]:
# to find the 3rd Highest salary from the worker table
query_4 = ''' SELECT salary FROM worker as w1 WHERE 3-1 = (SELECT COUNT(DISTINCT salary) FROM WORKER as w2
WHERE w2.salary > w1.salary); '''

In [17]:
query_4_result = fetch_query(connection, query_4)
query_4_result

[(200000,)]