## SQL Assignment 6

### Importing the libraries

In [1]:
import mysql.connector
import logging
import csv
logging.basicConfig(level=logging.INFO, format=" %(asctime)s : %(levelname)s : %(message)s")

### Create a MySQL Connection

In [2]:
def create_connection (host_name, user_name, password, db_name, use_pure):
    
    connection = None
    
    try:
        connection = mysql.connector.connect (
            host = host_name,
            user = user_name,
            password = password,
            database = db_name,
            use_pure = use_pure
        )
        logging.info("Connection to MySQL DB successful")
        
    except Exception as e:
        logging.error(f"The error {e} has occurred !!")
        
    return connection
        
connection = create_connection(host_name = "localhost", user_name = "root", password = "pass1234", db_name = "org", use_pure = True)

 2021-05-30 22:29:14,082 : INFO : Connection to MySQL DB successful

### Making a function for executing a query

In [3]:
def execute_query(connection, query):
    
    cursor = connection.cursor()
    
    try:
        cursor.execute(query)
        connection.commit()
        logging.info("The query has been executed successfully !!!")
        
    except Exception as e:
        logging.error(f"The error {e} has occurred !!")

### Making a function for fetching the results from a query

In [4]:
def fetch_query(connection, query):
    
    cursor = connection.cursor()
    result = None
    
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    
    except Exception as e:
        logging.error(f"The error {e} has occurred !!")

Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

In [5]:
query_1 = ''' Select * from Worker where year(JOINING_DATE) = 2014 and month(JOINING_DATE) = 2; '''
query_1_result = fetch_query(connection, query_1)

In [6]:
query_1_result

[(1,
  'Monika',
  'Arora',
  100000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'HR',
  'monika.arora@gmail.com'),
 (3,
  'Vishal',
  'Singhal',
  300000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'HR',
  'vishal.singhal@gmail.com'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'Admin',
  'amitabh.singh@gmail.com')]

Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

In [7]:
query_2 = ''' SELECT worker_title, affected_from, COUNT(*) FROM title GROUP BY worker_title, affected_from 
              HAVING COUNT(*) > 1; '''
query_2_result = fetch_query(connection, query_2)

In [8]:
query_2_result

[('Executive', datetime.datetime(2016, 6, 11, 0, 0), 3),
 ('Lead', datetime.datetime(2016, 6, 11, 0, 0), 2)]

Q-3. How to remove duplicate rows from Worker table.

In [9]:
query_3 = ''' DELETE t1 FROM TITLE t1 INNER JOIN TITLE t2 WHERE T1.WORKER_REF_ID < T2.WORKER_REF_ID AND 
              T1.WORKER_TITLE = T2.WORKER_TITLE AND T1.AFFECTED_FROM = T2.AFFECTED_FROM; '''

In [10]:
query_3_result = fetch_query(connection, query_3)
query_3_result

[]