## SQL Assignment 2

### Importing the libraries

In [2]:
import mysql.connector
import logging
import csv
logging.basicConfig(level=logging.INFO, format=" %(asctime)s : %(levelname)s : %(message)s")

### Create a MySQL Connection

In [3]:
def create_connection (host_name, user_name, password, db_name, use_pure):
    
    connection = None
    
    try:
        connection = mysql.connector.connect (
            host = host_name,
            user = user_name,
            password = password,
            database = db_name,
            use_pure = use_pure
        )
        logging.info("Connection to MySQL DB successful")
        
    except Exception as e:
        logging.error(f"The error {e} has occurred !!")
        
    return connection
        
connection = create_connection(host_name = "localhost", user_name = "root", password = "pass1234", db_name = "org", use_pure = True)

 2021-05-26 17:27:36,285 : INFO : Connection to MySQL DB successful

### Making a function for executing a query

In [4]:
def execute_query(connection, query):
    
    cursor = connection.cursor()
    
    try:
        cursor.execute(query)
        connection.commit()
        logging.info("The query has been executed successfully !!!")
        
    except Exception as e:
        logging.error(f"The error {e} has occurred !!")

### Making a function for fetching the results from a query

In [5]:
def fetch_query(connection, query):
    
    cursor = connection.cursor()
    result = None
    
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    
    except Exception as e:
        logging.error(f"The error {e} has occurred !!")

Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

In [6]:
query_1 = ''' SELECT SUBSTRING(first_name,1,3) AS subName FROM worker;'''
query_1_result = fetch_query(connection, query_1)

In [7]:
query_1_result

[('Mon',),
 ('Nih',),
 ('Vis',),
 ('Ami',),
 ('Viv',),
 ('Vip',),
 ('Sat',),
 ('Gee',)]

Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

In [8]:
query_2 = ''' Select INSTR(FIRST_NAME, BINARY'a') from Worker where FIRST_NAME = 'Amitabh'; '''
query_2_result = fetch_query(connection, query_2)

In [9]:
query_2_result

[(5,)]

Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

In [10]:
query_3 = ''' SELECT first_name, Department, MAX(Salary) FROM worker GROUP BY Department; '''
query_3_result = fetch_query(connection, query_3)

In [11]:
query_3_result

[('Monika', 'HR', 300000),
 ('Niharika', 'Admin', 500000),
 ('Vipul', 'Account', 200000)]